
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">BlogMee</h1>
      <p class="lead">This is a simple blogger application, just sign up and start blogging</p>
      <hr class="my-4">
      <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>

 


